.conteinerContactLand{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-first-color);
}
.containerDataContact{
    width: 80%;
    height: 90%;
    display: block;
    align-items: center;
    text-align: center;
   
}
.logoContac{
    width: auto;
    height: 200px;
}
.One{
    margin-bottom: 2rem;
    margin-top: 0;
}
.contact{
    color: white;
}
.contacBotton{
    background-color: white;
    color: var(--main-first-color);
}
