.conteinerStart{
    
}
.conteinerStartOne{
    margin-top: 3rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.lineStart{
    position: relative;
    top: 10rem;
    height: 200px;
    width: 10px;
    background-color: var(--main-extra-color);
}
.containerTextStart{
    padding: 2rem;
    width: 400px;
    height: auto;
    display: block;
    background-color: rgb(238, 238, 238);
}
.textStarOne{
    margin-top: 4rem;
    font-size: 25px;

}
.containerImageStart{
    display: flex;
}
.imgStart{
    margin-left: -12rem;
    width: auto;
    height: 700px;
    margin-right: 0;
}
.imgStartOne{
    width: auto;
    height: 170px;
    position: relative;
    left: 0rem;
    top: 28rem;
    filter: drop-shadow(3px 3px 3px #000);
}
.conteinerImgStartTwo{
    position: relative;
    top: 23rem;
    right: 12rem;
    margin-right: -10rem;
    width: 200px;
    height: 90px;
    border-radius: 80px;
    background-color: white;
    filter: drop-shadow(3px 3px 3px #000);
}
